@page "/"
@using CommunityToolkit.Maui.Views;
@using PopupApp.XamlPage;

<div class="d-flex justify-content-center d-flex align-items-center" style="height: 100vh !important;">
    <button class="btn btn-primary " @onclick="OpenPopup">Open popup</button>
</div>


@code {
    private int currentCount = 0;
    private object result;

    private async void OpenPopup()
    {
        MessagingCenter.Subscribe<NewPage1>(this, "WORK", (sender) =>
        {
            // Do something whenever the "Hi" message is received
            var amigos = sender.pruebita;
        });

        await App.Current.MainPage.Navigation.PushModalAsync(new NewPage1());
    }
}

